@import "tailwindcss";


@theme inline {
    --color-background: var(--background);
    --color-background2: var(--background2);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent1: var(--accent1);
    --font-sans: var(--font-geist-sans);

    --font-mono: var(--font-geist-mono);
    --font-tomorrow: var(--font-tomorrow);
    --font-code: var(--font-source-code-pro);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2c2b30;
        --background2: #4f4f51;
        --foreground: #E3E3E3;
        --accent: #F58F7C;
        --accent1: #F2C4CE;
    }
}

body {
    background: var(--background);


    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

